/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes fadein {
  /* line 26, ../sass/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 30, ../sass/_animations.scss */
  50% {
    opacity: 1;
  }

  /* line 34, ../sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadein {
  /* line 26, ../sass/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 30, ../sass/_animations.scss */
  50% {
    opacity: 1;
  }

  /* line 34, ../sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadein {
  /* line 26, ../sass/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 30, ../sass/_animations.scss */
  50% {
    opacity: 1;
  }

  /* line 34, ../sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  /* line 26, ../sass/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 30, ../sass/_animations.scss */
  50% {
    opacity: 1;
  }

  /* line 34, ../sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

/* line 1, ../sass/_parallax.scss */
.parallax {
  width: 100%;
}
/* line 3, ../sass/_parallax.scss */
.parallax > img {
  width: 100%;
}

/* line 1, ../sass/_global.scss */
body {
  font-family: 'GillSans', Arial, sans-serif;
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 10, ../sass/_global.scss */
#panel {
  background: #FFF;
}

/* line 14, ../sass/_global.scss */
.section {
  width: 100%;
  background: #FFF;
  min-height: 100px;
}

/* line 20, ../sass/_global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 26, ../sass/_global.scss */
.button {
  margin-top: 20px;
  background: #fee6d5 url("../img/btn_arrow.png") no-repeat right center;
  padding: 6px 35px 6px 14px;
  text-decoration: none;
  border: none;
  font-size: 1.125em;
  color: #666666;
  display: inline-block;
  cursor: pointer;
}

/* line 38, ../sass/_global.scss */
.scroll-top-wrapper {
  cursor: pointer;
  position: fixed;
  display: none;
  z-index: 100;
  height: 60px;
  width: 65px;
  bottom: 50px;
  right: 10px;
  background: url("../img/back_to_top.png") center top no-repeat;
}
/* line 49, ../sass/_global.scss */
.scroll-top-wrapper.show {
  display: block;
}

/* line 1, ../sass/_header.scss */
.header {
  position: relative;
  max-width: 958px;
  margin: 0 auto;
  text-align: center;
  padding-top: 175px;
}
/* line 8, ../sass/_header.scss */
.header .logo {
  margin: 0 auto;
  width: 90%;
}
/* line 11, ../sass/_header.scss */
.header .logo img {
  max-width: 579px;
  width: 100%;
}
/* line 16, ../sass/_header.scss */
.header .quote-container {
  margin-top: 15px;
  width: 100%;
}
/* line 20, ../sass/_header.scss */
.header .quote {
  font-size: 1.125em;
  text-align: center;
  -o-animation: fadein 4s infinite;
  -moz-animation: fadein 4s infinite;
  -webkit-animation: fadein 4s infinite;
  -ms-animation: fadein 4s infinite;
  animation: fadein 4s infinite;
}

/* line 1, ../sass/_navbar.scss */
.navbar {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  padding: 25px 0;
  transition: top 0.2s ease-in-out;
}
/* line 9, ../sass/_navbar.scss */
.navbar .nav {
  float: center;
}
/* line 13, ../sass/_navbar.scss */
.navbar .nav li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 20px;
}
/* line 18, ../sass/_navbar.scss */
.navbar .nav a {
  color: #666666;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
}
/* line 25, ../sass/_navbar.scss */
.navbar .nav a:hover {
  border-bottom: 4px solid #fee7d7;
}
/* line 28, ../sass/_navbar.scss */
.navbar .nav a.active {
  border-bottom: 2px solid #fee7d7;
}
/* line 31, ../sass/_navbar.scss */
.navbar .smaller_logo, .navbar .social-buttons {
  display: none;
}
/* line 34, ../sass/_navbar.scss */
.navbar .social-buttons a {
  text-decoration: none;
}
/* line 37, ../sass/_navbar.scss */
.navbar.isStuck {
  z-index: 100;
  padding: 25px 0;
  min-height: 50px;
  background: #FFF;
  z-index: 1000;
  border-bottom: 1px solid #000;
  margin-top: 0;
}
/* line 45, ../sass/_navbar.scss */
.navbar.isStuck .smaller_logo, .navbar.isStuck .social-buttons {
  display: block;
}

/* line 51, ../sass/_navbar.scss */
.navbar-mobile {
  display: none;
  z-index: 10000000;
}

/* line 1, ../sass/_welcome.scss */
.welcome {
  max-width: 858px;
  width: 100%;
  margin: 60px auto;
  text-align: center;
  font-family: 'GillSans-Light', Arial, sans-serif;
}
/* line 8, ../sass/_welcome.scss */
.welcome .welcome-text {
  padding: 0;
}
/* line 11, ../sass/_welcome.scss */
.welcome p {
  font-size: 2.250em;
  line-height: 1.500em;
  margin-bottom: 25px;
}

/* line 1, ../sass/_menu.scss */
.menu {
  position: relative;
  padding: 15px;
}
/* line 4, ../sass/_menu.scss */
.menu .changeMenu {
  cursor: pointer;
}

/* line 8, ../sass/_menu.scss */
.centerit {
  margin: 0 auto;
  padding: 30px;
  max-width: 666px;
  width: 100%;
  min-width: 300px;
  text-align: center;
  background: #ffffff;
  border: 4px solid #fee7d7;
}

/* line 19, ../sass/_menu.scss */
.menu_logo {
  margin: 50px 0 10px 0;
}

/* line 23, ../sass/_menu.scss */
.menu h4 {
  font-size: 0.750em;
  line-height: 1.333em;
  margin: 0 0 30px 0;
}

/* line 29, ../sass/_menu.scss */
.menu_nav {
  text-align: center;
  margin: 0 auto;
}
/* line 33, ../sass/_menu.scss */
.menu_nav ul {
  display: inline-block;
}
/* line 36, ../sass/_menu.scss */
.menu_nav li {
  margin: 0 5px;
  display: inline-block;
  list-style: none;
  padding: 0;
}
/* line 42, ../sass/_menu.scss */
.menu_nav li a {
  text-decoration: none;
}
/* line 44, ../sass/_menu.scss */
.menu_nav li a.selected {
  border-bottom: 4px solid #fee7d7;
}

/* line 51, ../sass/_menu.scss */
.menu table {
  max-width: 510px;
  width: 100%;
  min-width: 250px;
  padding: 0;
  margin: 0 auto;
}
/* line 57, ../sass/_menu.scss */
.menu table td {
  line-height: 8px;
  margin: 7px 0;
}
/* line 62, ../sass/_menu.scss */
.menu table td.leftcol {
  text-align: left;
  width: 99%;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px dotted #666;
  padding-top: 20px;
}
/* line 71, ../sass/_menu.scss */
.menu table td.rightcol {
  text-align: right;
  width: 1%;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 20px;
}

/* line 81, ../sass/_menu.scss */
h5 {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  font-style: normal;
  padding: 0;
  margin: 15px 0;
}

/* line 91, ../sass/_menu.scss */
.mobilemenu {
  border-right: 1px solid #DDD;
  text-align: center;
}
/* line 95, ../sass/_menu.scss */
.mobilemenu .social-buttons, .mobilemenu .smaller_logo {
  margin-top: 10px;
}
/* line 98, ../sass/_menu.scss */
.mobilemenu a {
  color: #666666;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
}
/* line 105, ../sass/_menu.scss */
.mobilemenu ul {
  margin-top: 20px;
}
/* line 109, ../sass/_menu.scss */
.mobilemenu li {
  text-align: center;
  height: 30px;
}

/* line 1, ../sass/_appointment.scss */
.appointment {
  margin-top: 75px;
  display: inline-block;
  width: 100%;
}
/* line 5, ../sass/_appointment.scss */
.appointment .appointment-wrap {
  margin: 0 auto;
  max-width: 958px;
  width: 100%;
}
/* line 11, ../sass/_appointment.scss */
.appointment h1 {
  font-size: 1.125em;
  line-height: 3.000em;
  width: 100%;
  text-align: center;
  padding: 0  0 10px 0;
  border-bottom: 1px solid #dfdfdf;
}
/* line 20, ../sass/_appointment.scss */
.appointment h2 {
  font-family: 'GillSans-Light', Arial, sans-serif;
  font-size: 3.000em;
  line-height: 1.125em;
}

/* line 27, ../sass/_appointment.scss */
.text-booker {
  display: inline-block;
  width: 100%;
  padding: 10%;
  padding-top: 5.938em;
}

/* line 34, ../sass/_appointment.scss */
.book-form, .book-mobile {
  float: left;
}

/* line 37, ../sass/_appointment.scss */
.book-form {
  min-width: 50%;
  margin-bottom: 30px;
}

/* line 41, ../sass/_appointment.scss */
.book-mobile {
  max-width: 283px;
  width: 100%;
}

/* line 46, ../sass/_appointment.scss */
.loading_text {
  margin-top: 15px;
}

/* line 49, ../sass/_appointment.scss */
.styled-select select {
  background: transparent;
  border: 0;
  border-radius: 0;
  width: 280px;
  margin-top: 20px;
  padding: 6px 35px 6px 14px;
  font-size: 18px;
  font-family: 'GillSans', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #666666;
  -webkit-appearance: none;
  background: #fee6d5 url("../img/btn_arrow_down.png") no-repeat right center;
  display: block;
}

/* line 66, ../sass/_appointment.scss */
.loading_text, .styled-select .select_guests {
  display: none;
}

/* line 1, ../sass/_location.scss */
.locations {
  position: relative;
  width: 100%;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid #dfdfdf;
  display: inline-block;
  background: #fee7d7;
}

/* line 12, ../sass/_location.scss */
.location-tabs-wrap {
  max-width: 958px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}

/* line 18, ../sass/_location.scss */
.tabs {
  position: relative;
  width: 100%;
  background: #FFF;
}
/* line 22, ../sass/_location.scss */
.tabs select {
  display: none;
}
/* line 26, ../sass/_location.scss */
.tabs ul {
  display: inline-block;
}
/* line 29, ../sass/_location.scss */
.tabs li {
  float: left;
  list-style: none;
  cursor: pointer;
}
/* line 33, ../sass/_location.scss */
.tabs li a {
  text-align: center;
  margin: 18px 35px;
  display: inline-block;
  line-height: 1.875em;
  text-decoration: none;
  text-transform: uppercase;
  color: #666666;
  font-size: 1.125em;
  border-bottom: 4px solid transparent;
}
/* line 43, ../sass/_location.scss */
.tabs li a.active {
  border-bottom: 4px solid #dfdfdf;
}

/* line 49, ../sass/_location.scss */
.tabs-container {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 15px;
}
/* line 54, ../sass/_location.scss */
.tabs-container .tab-content {
  display: none;
}
/* line 56, ../sass/_location.scss */
.tabs-container .tab-content.visible {
  display: inline-block;
  width: 100%;
}
/* line 61, ../sass/_location.scss */
.tabs-container .tab-content .left-content {
  text-align: justify;
  width: 50%;
  line-height: 1.563em;
  float: left;
  padding-right: 3.125em;
}
/* line 68, ../sass/_location.scss */
.tabs-container .tab-content .left-content p {
  margin-bottom: 15px;
}
/* line 72, ../sass/_location.scss */
.tabs-container .tab-content .right-map-content {
  float: left;
  width: 300px;
  height: 300px;
  background: #000;
}
/* line 78, ../sass/_location.scss */
.tabs-container .tab-content table {
  width: 100%;
}
/* line 81, ../sass/_location.scss */
.tabs-container .tab-content th, .tabs-container .tab-content td {
  margin: 10px 25px;
  text-align: left;
  color: #666666;
  font-size: 0.938em;
}

/* line 1, ../sass/_team.scss */
.team {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 15px;
}
/* line 6, ../sass/_team.scss */
.team .team-wrap {
  max-width: 958px;
  width: 100%;
  margin: 0 auto;
}
/* line 12, ../sass/_team.scss */
.team h1 {
  font-size: 1.125em;
  line-height: 3.000em;
  width: 100%;
  text-align: center;
  padding: 0  0 10px 0;
  border-bottom: 1px solid #dfdfdf;
  text-transform: uppercase;
}
/* line 21, ../sass/_team.scss */
.team .team-content {
  margin-top: 56px;
  width: 100%;
  display: inline-block;
}
/* line 26, ../sass/_team.scss */
.team .team-image {
  padding: 0 30px 30px 30px;
  float: left;
  max-width: 600px;
  width: 100%;
}
/* line 33, ../sass/_team.scss */
.team p {
  font-size: 1.125em;
  line-height: 1.813em;
  margin: 0;
}

/* line 1, ../sass/_quote.scss */
.quotes {
  background: url("../img/large_quotes.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 658px;
  padding-top: 280px;
}
/* line 8, ../sass/_quote.scss */
.quotes .quoteslove {
  opacity: 1;
  -o-animation: fadein 2s infinite;
  -moz-animation: fadein 2s infinite;
  -webkit-animation: fadein 2s infinite;
  -ms-animation: fadein 2s infinite;
  animation: fadein 2s infinite;
}
/* line 13, ../sass/_quote.scss */
.quotes .text {
  width: 100%;
  max-width: 958px;
  margin: 0 auto;
  text-align: center;
  font-size: 3.750em;
  font-family: 'GillSans-Light', Arial, sans-serif;
}

/* line 1, ../sass/_serum.scss */
.serum {
  position: relative;
  max-width: 958px;
  width: 100%;
  margin: 0 auto;
}
/* line 6, ../sass/_serum.scss */
.serum h1 {
  font-size: 1.125em;
  line-height: 3.000em;
  width: 100%;
  text-align: center;
  padding: 0  0 10px 0;
  border-bottom: 1px solid #dfdfdf;
}
/* line 14, ../sass/_serum.scss */
.serum h2 {
  font-family: 'GillSans-Light', Arial, sans-serif;
  font-size: 4.188em;
  line-height: 0.896em;
  text-align: left;
  padding: 0;
  margin: 0 0 30px 0;
}
/* line 23, ../sass/_serum.scss */
.serum .serum-content {
  padding: 30px;
  width: 100%;
  display: inline-block;
}
/* line 28, ../sass/_serum.scss */
.serum .serum-content .serum-image {
  float: left;
  padding: 0 30px 0 0;
}
/* line 32, ../sass/_serum.scss */
.serum .serum-content .text {
  float: left;
  max-width: 470px;
  width: 100%;
}
/* line 37, ../sass/_serum.scss */
.serum .serum-content p {
  text-align: justify;
  line-height: 1.563em;
  padding: 5px 0 0 0;
}

/* line 1, ../sass/_treat.scss */
.treat {
  background: #77716e;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 7, ../sass/_treat.scss */
.treat img {
  max-width: 1262px;
  width: 100%;
}

/* line 1, ../sass/_footer.scss */
.footer {
  border-top: 8px solid #fee7d7;
  min-height: 192px;
  width: 100%;
  background: #121212;
}

/* line 7, ../sass/_footer.scss */
.constrain-footer {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  min-height: 192px;
}

/* line 13, ../sass/_footer.scss */
.footer-container {
  float: left;
  padding: 5.857em 0;
  height: inherit;
  min-height: 192px;
  max-height: 192px;
}

/* line 20, ../sass/_footer.scss */
.footer-links a {
  color: #959595;
  text-decoration: none;
}

/* line 25, ../sass/_footer.scss */
.footer-links {
  text-align: center;
  color: #fee7d7;
  font-size: 0.875em;
  background-color: #131313;
  max-width: 40%;
  width: 100%;
}

/* line 33, ../sass/_footer.scss */
.footer-phone {
  background: #1e1e1e;
  max-width: 20%;
  width: 100%;
  padding: 3.875em 0;
}
/* line 38, ../sass/_footer.scss */
.footer-phone p {
  text-align: center;
  font-size: .875em;
  color: #959595;
  line-height: 20px;
  text-transform: uppercase;
}
/* line 45, ../sass/_footer.scss */
.footer-phone a {
  color: #959595;
  text-decoration: none;
}
/* line 48, ../sass/_footer.scss */
.footer-phone a:hover {
  text-decoration: underline;
  color: #fee7d7;
}
/* line 53, ../sass/_footer.scss */
.footer-phone .phone-icon:hover {
  opacity: .5;
}

/* line 58, ../sass/_footer.scss */
.footer-social {
  background: #272727;
  max-width: 40%;
  width: 100%;
  padding: 4.875em 0;
}
/* line 63, ../sass/_footer.scss */
.footer-social .copyright-text {
  margin-top: 15px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 3, ../sass/_responsive.scss */
  body {
    font-size: 12px;
  }

  /* line 7, ../sass/_responsive.scss */
  .tabs-container .tab-content .left-content {
    width: 100%;
    margin-bottom: 30px;
  }

  /* line 11, ../sass/_responsive.scss */
  .footer-container {
    width: 100%;
    max-width: 100%;
    clear: both;
  }

  /* line 18, ../sass/_responsive.scss */
  .scroll-top-wrapper.show {
    display: none;
  }

  /* line 22, ../sass/_responsive.scss */
  .navbar {
    display: none;
  }

  /* line 26, ../sass/_responsive.scss */
  .tabs ul {
    display: none;
  }

  /* line 29, ../sass/_responsive.scss */
  .tabs select {
    display: inline-block;
    width: 100%;
  }

  /* line 33, ../sass/_responsive.scss */
  .tabs .location-select-mobile {
    width: 100%;
  }

  /* line 37, ../sass/_responsive.scss */
  .navbar-mobile {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #FFF;
    z-index: 1000;
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 10px 20px;
  }
  /* line 50, ../sass/_responsive.scss */
  .navbar-mobile .hamburgernav {
    float: left;
  }
  /* line 53, ../sass/_responsive.scss */
  .navbar-mobile .booknownav {
    float: right;
  }
  /* line 57, ../sass/_responsive.scss */
  .navbar-mobile.open {
    left: 256px;
  }
}
/* line 1, ../sass/_slideout.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 6, ../sass/_slideout.scss */
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

/* line 19, ../sass/_slideout.scss */
.slideout-panel {
  position: relative;
  z-index: 1;
}

/* line 26, ../sass/_slideout.scss */
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

/* line 30, ../sass/_slideout.scss */
.slideout-open .slideout-menu {
  display: block;
}
