.footer {
    border-top: 8px solid $highlight-color;
    min-height: 192px;
    width: 100%;
    background: #121212;
}
.constrain-footer {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    min-height: 192px;
}
.footer-container {
    float: left;
    padding: 5.857em 0;
    height: inherit;
    min-height: 192px;
    max-height: 192px;
}
.footer-links a {
    color: $link-color;
    text-decoration: none;
}

.footer-links {
    text-align: center;
    color: #fee7d7;
    font-size: 0.875em;
    background-color: #131313;
    max-width: 40%;
    width: 100%;
}
.footer-phone {
    background: #1e1e1e;
    max-width: 20%;
    width: 100%;
    padding: 3.875em 0;
    p {
        text-align: center;
        font-size: .875em;
        color: $link-color;
        line-height: 20px;
        text-transform: uppercase;
    }
    a {
        color: $link-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: $highlight-color;
       }
    }
    .phone-icon:hover {
        opacity: .5;
    }
}

.footer-social {
    background: #272727;
    max-width: 40%;
    width: 100%;
    padding: 4.875em 0;
    .copyright-text {
        margin-top: 15px;
    }
}