body {
    font-family: 'GillSans', Arial, sans-serif;
    color: $text-color;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}


.section {
    width: 100%;
    background: #FFF;
    min-height: 100px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.centered-button {
    text-align: center;
}

.button {
    margin-top: 20px;
    background: $button-color url("../img/btn_arrow.png") no-repeat right center;
    padding: 6px 35px 6px 14px;
    text-decoration: none;
    border: none;
    font-size: 1.125em;
    color: $text-color;
    display: inline-block;
    cursor: pointer;
}

.scroll-top-wrapper {
    cursor: pointer;
    position: fixed;
    display: none;
    z-index: 100;
    height: 60px;
    width: 65px;
    bottom: 50px;
    right: 10px;
    background: url('../img/back_to_top.png') center top no-repeat;

    &.show {
        display: block;
    }
}