.parallax {
    width: 100%;
    background: transparent;
    height: 656px;

}

.parralax-computer {
	height: 689px;
}

.top-video {
    text-align: center;
    margin-top: 30px;
    max-width: 858px;
    max-height: 482px;
    margin-left: auto;
    margin-right: auto;
}