.quotes {
    background: url("../img/large_quotes.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 658px;
    padding-top: 280px;
    position: relative;
    .quoteslove {
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        -webkit-animation: fadeinfaster 42s linear infinite 0s;
    }

    div:nth-child(2) {
      -webkit-animation-delay: 3s;
    }
     
    div:nth-child(3) {
      -webkit-animation-delay: 6s;
    }

    div:nth-child(4) {
      -webkit-animation-delay: 9s;
    }
     
    div:nth-child(5) {
      -webkit-animation-delay: 12s;
    }
     
    div:nth-child(6) {
      -webkit-animation-delay: 15s;
    }

    div:nth-child(7) {
      -webkit-animation-delay: 18s;
    }
     
    div:nth-child(8) {
      -webkit-animation-delay: 21s;
    }
     
    div:nth-child(9) {
      -webkit-animation-delay: 24s;
    }

    div:nth-child(10) {
      -webkit-animation-delay: 27s;
    }

    div:nth-child(11) {
      -webkit-animation-delay: 30s;
    }
    div:nth-child(12) {
      -webkit-animation-delay: 33s;
    }
    div:nth-child(13) {
      -webkit-animation-delay: 36s;
    }
    div:nth-child(14) {
      -webkit-animation-delay: 39s;
    }

    .text {
        width: 100%;
        max-width: 958px;
        margin: 0 auto;
        text-align: center;
        font-size: 3.750em;
        font-family: 'GillSans-Light', Arial, sans-serif;
    }

}
