@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .sub_text {
      padding: 25px;
    }

    .text-booker {
      margin-left: 0;
    }

    .staff_bio_lockup {
      img {
          left: 0;
          width: 100%;
      }
    }

    .team .team-image {
        padding: 0;
        padding-bottom: 30px;
    }

    body {
        font-size: 12px;
    }

    .parralax-living-room {
        background: url('../img/large_lobby.jpg') 0 0 no-repeat;
        background-size: cover;
    }

   .tabs-container .tab-content .left-content {
        width: 100%;
        margin-bottom: 30px;
        padding-right: 0;
   }
   .tabs-container .tab-content .right-map-content {
        width: 100%;
   }
   .footer-container {
        width: 100%;
        max-width: 100%;
        clear: both;
        padding: 5em 0;
   }

   .welcome {
        margin-top: 0;

        .welcome-text {
            padding: 0 10px;
        }
   }

   .footer-phone, .footer-social {
        padding: 2.5em 0;
   }

    .scroll-top-wrapper {
        &.show {
            display: none;
        }
   }
    .navbar {
        display: none;
    }

   .tabs ul {
        display: none;
   }
   .tabs select {
        display: inline-block;
        width: 100%;
   }
   .tabs .location-select-mobile {
        width: 100%;
   }

   .parralax-sizedown {
        height: 200px;
        margin: 0!important;
   }

   .navbar-mobile {
        display: inline-block;
        position: fixed;
        top: 0;
        width: 100%;
        height: 48px;
        background: #FFF;
        z-index: 1000;
        border-bottom: 1px solid rgba(0,0,0,.5);
        text-align: center;
        padding: 9px 10px;

        .hamburgernav {
            float: left;
            svg {
                width: 33px;
            }
        }
        .booknownav {
            float: right;
            padding: 6px;
            margin-top: 1px;
            background-image: none;
        }

        &.open {
            left: 256px;
        }
        .smaller_logo {
            max-width: 50%;
            height: 31px;
        }
   }

   .staff_select_mobile {
    display: inline-block
   }

   ul.staff_select_large {
        display: none;
   }


   .staff_bio_lockup {
    padding: 20px;
    img {
        position: relative;
    }
   }


    .serum {
        position: relative;
        max-width: 958px;
        width: 100%;
        margin: 0 auto;
        h1 {
            font-size: 1.125em;
            line-height: 3.000em;
            width: 100%;
            text-align: center;
            padding: 0  0 10px 0;
            border-bottom: 1px solid $border-color;
        }
        h2 {
            font-family: 'GillSans-Light', Arial, sans-serif;
            font-size: 4.188em;
            line-height: 0.896em;
            text-align: left;
            padding: 0;
            margin: 0 0 30px 0;
        }
        
        .serum-content {
            padding: 0;
            width: 100%;
            display: inline-block;

            .serum-image {
                float: none;
                padding: 0;
            }
            .text {
                float: left;
                max-width: 470px;
                width: 100%;
                padding: 20px;
            }
        }
    }

}
