@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    body {
        font-size: 12px;
    }

   .tabs-container .tab-content .left-content {
        width: 100%;
        margin-bottom: 30px;
   }
   .footer-container {
        width: 100%;
        max-width: 100%;
        clear: both;
   }

    .scroll-top-wrapper {
        &.show {
            display: none;
        }
   }
    .navbar {
        display: none;
    }

   .tabs ul {
        display: none;
   }
   .tabs select {
        display: inline-block;
        width: 100%;
   }
   .tabs .location-select-mobile {
        width: 100%;
   }

   .navbar-mobile {
        display: inline-block;
        position: fixed;
        top: 0;
        width: 100%;
        height: 40px;
        background: #FFF;
        z-index: 1000;
        border-bottom: 1px solid #000;
        text-align: center;
        padding: 10px 20px;

        .hamburgernav {
            float: left;
            img {
                width: 33px;
            }
        }
        .booknownav {
            float: right;
        }

        &.open {
            left: 256px;
        }
   }

   .staff_select_mobile {
    display: inline-block
   }

   ul.staff_select_large {
        display: none;
   }


   .staff_bio_lockup {
    padding: 20px;
    img {
        position: relative;
    }
   }
}
