.staff_page {
    background: #FFF;
}
.staff_fill {
    background: url('../img/staff_header.jpg') 0 0 no-repeat;
    background-size: cover;
}

.staff_select_mobile {
    display: none;
}

.staff_selector {

  text-align: center;
  margin: 0 auto;
  height: 80px;
  max-width: 958px;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;

    .selected {
        border-bottom: 4px solid #fee7d7;
    }

    ul {
        display: inline-block;
        position: relative;
        padding: 0;
        margin: 30px 0 0 0;
    }

    li {
          margin: 0 14px;
          float: left;
          list-style: none;
          padding: 0;
    }

    a {
        text-decoration: none;
        color: #666;
    }
}

.staff_categories {
  position: relative;
  margin: 0 auto;
  max-width: 958px;
  width: 100%;

  h1 {
      font-size: 18px;
      line-height: 55px;
      color: #666666;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid #dfdfdf;
    }
}

.staff_bio_lockup {
  position: relative;
  margin: 56px 0 0 0;
  border-bottom: 1px solid #dfdfdf;
  min-height: 380px;
  padding-left: 398px;
    img {
        position: absolute;
        top: 0;
        left: 78px;
        border: 1px solid #fee7d7;
    }
    .text {
        max-width: 459px;
    }
    .text p{
          font-size: 14px;
          color: #666666;
          line-height: 20px;
          margin: 20px 0;
    }
    a {
        color: #666;
        text-decoration: underline;   
    }
}