/* General Style */
@font-face {
    font-family: 'GillSans';
    src: url('../fonts/gillsans/GillSans.eot?') format('eot'),
         url('../fonts/gillsans/GillSans.otf')  format('opentype'),
         url('../fonts/gillsans/GillSans.woff') format('woff'), 
         url('../fonts/gillsans/GillSans.ttf')  format('truetype'),
         url('../fonts/gillsans/GillSans.svg#GillSans') format('svg');
}

@font-face {
	font-family: 'GillSans-Light';
	src: url('../fonts/gillsans-light/GillSans-Light.eot?') format('eot'), 
	     url('../fonts/gillsans-light/GillSans-Light.otf')  format('opentype'),
	     url('../fonts/gillsans-light/GillSans-Light.woff') format('woff'), 
	     url('../fonts/gillsans-light/GillSans-Light.ttf')  format('truetype'),
	     url('../fonts/gillsans-light/GillSans-Light.svg#GillSans-Light') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; background: #fff;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/* reusable elements */
body,h1,h2,h3,h4,p {
    font-family: 'GillSans', Arial, sans-serif;
    font-weight: normal;
	font-style: normal;
    color: #666666;
    -webkit-font-smoothing: antialiased; 
}

a {
	color: #666666;
	text-decoration: none;
}

a:hover {
	color: #666666;
	/*border-bottom: 2px solid #fee7d7;*/
}

/*  forms, inputs and selects  */
.styled-select select {
   	background: transparent;
   	border: 0;
   	border-radius: 0;
   	width: 280px;
   	margin-top: 20px;
   	padding: 6px 35px 6px 14px;
   	font-size: 18px;
	font-family: 'GillSans', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #666666;
	-webkit-appearance: none;
	background: #fee6d5 url("../images/btn_arrow_down.png") no-repeat right center;
	display: block;
 }

 .loading_gif {
 	position: relative;
 	top: -105px;
 	left: -400px;
 }

/* iframe styling */
#iframe_for_salonbooker {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	background: #717075;
	opacity: .7;
}

iframe {
	overflow: hidden;
	width: 1000px;
	height: 700px;
	height: 100%;
	border: none;
	padding: 0;
	margin: 0;
}


.button {
	margin-top: 20px;
	background: #fee6d5 url("../images/btn_arrow.png") no-repeat right center;
	padding: 6px 35px 6px 14px;
	text-decoration:none;
	border: none;
	font-size: 18px;
	font-family: 'GillSans', Arial, sans-serif;
    font-weight: normal;
	font-style: normal;
    color: #666666;
}


.button:hover {
	background: #e6e6e6 url("../images/btn_arrow.png") no-repeat right center;
	cursor: pointer;
}

h1 {
	font-size: 18px;
	line-height: 55px;
	color: #666666;
	width: 100%;
	text-align: center;
	padding: 0	0 10px 0;
	border-bottom: 1px solid #dfdfdf; 
}

h4 {
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	font-style: normal;
	padding: 0;
	margin: 0 0 30px 0;

}

h4 span {
	font-size: 11px;
	padding: 6px;
}

h5 {
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	font-style: normal;
	padding: 0;
	margin: 15px 0;
}

table {
	width: 75%;
	margin: 40px;
}

th, td {
    margin: 10px 25px;
    padding: 0;
    text-align: left;
    font-family: 'GillSans', Arial, sans-serif;
    font-weight: normal;
	font-style: normal;
    color: #666666;
    font-size: 15px;
    line-height: 25px;
}

#menu_nav {
	/*border: 1px solid #000;*/
	text-align: center;
	margin: 0 auto;
}

#menu_nav ul {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0;

}

#menu_nav li {
	margin: 0 14px;
	float: left;
	list-style: none;
	padding: 0;
}

#menu_nav li:hover {
	cursor: pointer;
}


#menu_nav_sub {
	text-align: center;
	margin: 0 auto;
	height: 80px;
}

#menu_nav_sub ul {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 30px 0 0 0;

}

#menu_nav_sub li {
	margin: 0 14px;
	float: left;
	list-style: none;
	padding: 0;
}

#menu_nav_sub li:hover {
	cursor: pointer;
}

#staff_nav_sub {
	text-align: center;
	margin: 0 auto;
	height: 80px;
	width: 958px;
	border-bottom: 1px solid #dfdfdf; 
}

#staff_nav_sub ul {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 30px 0 0 0;

}

#staff_nav_sub li {
	margin: 0 14px;
	float: left;
	list-style: none;
	padding: 0;
}

#staff_nav_sub li:hover {
	cursor: pointer;
}

.selected {
    border-bottom: 4px solid #fee7d7;
 }
  
 .noselected {
    border: none;
 }


#tabs-1 td a:hover, #tabs-2 td a:hover, #tabs-3 td a:hover, #tabs-4 td a:hover {
	/*text-decoration: underline;*/
	border-bottom: 2px solid #dfdfdf;
}

#map06 #tabs ul {
	margin: 0;
}

#map06 #tabs li a {
	margin: 18px 35px;
}

td.middle, th.middle {
	width: 30%;
}

/* styles for the menu */
#women_menu {
	width: 510px;
	padding: 0;
	margin: 0 auto;
}

#women_menu td {
	line-height: 8px;
	margin: 7px 0; 
}

#women_menu td.leftcol {
	text-align: left;
	width: 99%;
	font-size: 12px;
	text-transform: uppercase;
	border-bottom: 1px dotted #666;
	padding-top: 20px;
}

#women_menu td.rightcol {
	text-align: right;
	width: 1%;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 20px;
}

#women_menu span {
	display: inline-block;
    border: 2px solid #fff;
    padding: 0;
    margin: 0 0 -2px 0; 
}

#men_menu {
	width: 510px;
	padding: 0;
	margin: 0 auto;
}

#men_menu td {
	line-height: 8px;
	margin: 7px 0; 
}

#men_menu td.leftcol {
	text-align: left;
	width: 99%;
	font-size: 12px;
	text-transform: uppercase;
	border-bottom: 1px dotted #666;
	padding-top: 20px;
}

#men_menu td.rightcol {
	text-align: right;
	width: 1%;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 20px;
}

#men_menu span {
	display: inline-block;
    border: 2px solid #fff;
    padding: 0;
    margin: 0 0 -2px 0; 
}

/* styles for the menu on the menu page */
#sub_text_menu {
	width: 100%;
	/*border: 1px solid #000;*/
} 

#men_menu_sub {
	width: 100%;
	padding: 0;
	margin: 0;
	/*border: 1px solid #000;*/
}

#men_menu_sub table {
	padding: 0;
	margin: 0 auto;
	border-spacing: 0;
}

#men_menu_sub td {
}

#women_menu_sub {
	width: 100%;
	padding: 0;
	margin: 0;
	/*border: 1px solid #000;*/
}

#women_menu_sub table {
	padding: 0;
	margin: 0 auto;
	border-spacing: 0;
}

#women_menu_sub td {
}

.women_menu_sub_inner {
	width: 562px;
}

.women_menu_sub_inner span {
	cursor: pointer;
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 0;

}

table.center {
    margin-left:auto; 
    margin-right:auto;
 }

 .women_menu_sub_inner tr {

}

.women_menu_sub_inner td {
	line-height: 8px;
	margin: 0;
	height: 62px;
	padding: 0; 
}

.women_menu_sub_inner td.leftcol {
	text-align: left;
	width: 95%;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.women_menu_sub_inner td.rightcol {
	text-align: center;
	width: 5%;
	font-size: 12px;
	text-transform: none;
	padding: 0;
	margin: 0;
}

.dark_color {
	background-color: #efefef;
}

.light_color {
	background-color: #fff;
}


/* styles for map */

.loading { display: block; position: absolute; }

#map-canvasDivision {
	position: absolute;
	display: block;
    top: 50px;
    left: 640px;
    width: 298px;
    height: 301px;
    margin: 0px;
    padding: 0px;
}

#map-canvasPortland {
	position: absolute;
	display: block;
    top: 50px;
    left: 640px;
    width: 298px;
    height: 301px;
    margin: 0px;
    padding: 0px;
}

#map-canvasTanasbourne {
	position: absolute;
	display: block;
    top: 50px;
    left: 640px;
    width: 298px;
    height: 301px;
    margin: 0px;
    padding: 0px;
}

#map-canvasEugene {
	position: absolute;
	display: block;
    top: 50px;
    left: 640px;
    width: 298px;
    height: 301px;
    margin: 0px;
    padding: 0px;
}

#map-canvasTimberland {
	position: absolute;
	display: block;
    top: 50px;
    left: 640px;
    width: 298px;
    height: 301px;
    margin: 0px;
    padding: 0px;
}

.mapinfowindow {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

div.mapinfowindowstyle {
	font-size: 15px;
	line-height: 22px;
	margin: 0px;
    padding: 0px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
}

a.maplink:hover {
	text-decoration: underline;
}

.map_size {
	width: 298px;
	height: 301px;
}

/* styles for jQuery functions */
.bgwidth {
	width: 100%;
}

.bgheight {
	height: 100%;
}

/* styles for center containers */
.container {
	position: relative;
	/*margin-top: 452px;*/
}

#logo00 {
	position: relative;
	background: #fff;
	height: 368px;
	width: 958px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #fff;
}

#logo {
	margin: 175px auto 0 auto;
	width: 100%;
	text-align: center
}


#logo00 h2 {
	font-size: 18px;
	text-align: center
}

.navbar-wrapper {
  position: relative;
  z-index: 15;
  /*border: 1px solid #000;*/
  text-align: center;
  width: 100%;
}

#navigation01 {
	position: relative;
	background: #fff;
	height: 51px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #fff;
}

#navigation01_sub {
	position: fixed;
	background: #fff;
	height: 51px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid #000;
}

#header {
	width: 100%;
	text-align: center;
	margin: 15px 0 0 0;
	z-index: 100000000; 
}

#header nav {
	display: inline-block;
	position: relative;
	/*border: 1px solid #000;*/
	
}

.menuItem {

}

.menuItem:hover {
	cursor: pointer;
}


#header nav {
	float: center;
	padding: 0 18px 0 0;
	/*border: 1px solid black;*/
}

#header nav a {
	color: #666666;
	margin: 0 0 0 20px;
	font-size: 15px;
	text-transform: uppercase;

}

#header nav a:hover {
	color: #666666;
	border-bottom: 4px solid #fee7d7;
}

#header nav a:focus {
	color: #666666;
	border-bottom: 2px solid #fee7d7;
}

/* these styles are adding to the menu for events */
.active {
	border-bottom: 2px solid #fee7d7;
}

.isStuck {
	/*background: url('../images/smalllogo.png') no-repeat;*/
	border-bottom: 1px solid #000; 
	width: 100%;
}

.stuckMenu {
	padding: 0 0 15px 0;	
}

.smaller_logo {
	float: left;
	margin: 2px 4px 0 0;
	padding: 0 12px 0 0;
	/*border: 1px solid black;	*/
}

#header_social_buttons {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: top;
}

#header_social_buttons a, #header_social_buttons img {
	margin: 0;
	padding: 0;
}

#header_social_buttons a:hover {
	opacity: .5;
}

/* styles for entrance area */
#entrace02 {
	position: relative;
	background: url('../images/02_image_2.jpg') center top no-repeat;
	background-size: cover;
	min-height: 660px;
	min-width: 1260px;
	/*border: 1px solid #000;*/
}

/* styles for the subpages */
#sub_intro, #sub_text {
	background: #fee7d7;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	border: 1px solid #fff;
}

#sub_text {
	background: #fff;
}

#sub_intro>div#text, #sub_text>div#text {
	width: 639px;
	text-align: left;
	padding: 25px 0;
	margin: 0 auto;
}

#sub_intro h5, #sub_text h3, #sub_text h5 {
	font-family: 'GillSans', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	color: #666666;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#sub_text h5 {
	text-transform: none;
	margin: 20px 0 0 0;
}

#sub_text span.footnote {
	display: block;
	font-size: 12px;
}

#sub_text p.last {
	border: none;
}

#sub_intro p, #sub_text p {
	font-family: 'GillSans-Light', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	color: #666666;
	line-height: 26px;
	margin: 10px 0;
	
}

#sub_text p {
	border-bottom: 1px solid #fee7d7;
	padding: 0 0 20px 0;
}

/* styles for welcome area */
#welcome03 {
	position: relative;
	height: 400px;
	background: #ffffff;
	margin: 0 auto;
	padding: 0;
	width: 958px;
	border: 1px solid #fff;
}

#welcome03>div#text_welcome {
	width: 858px;
	text-align: center;
	padding: 0;
	margin: 60px auto 0 auto;
}

#welcome03 p {
	font-family: 'GillSans-Light', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 36px;
	color: #666666;
	line-height: 54px;
	margin: 0 0 25px 0;
}

/* styles for menu */

#menu04>div#centerit {
	
	margin: -600px auto 0 auto;
	padding: 0;
	width: 666px;
	text-align: center;
	background: #ffffff;
	border: 4px solid #fde6d4;
}

#menu04>div#text_menu {
	text-align: left;

}

#menu04 img {
	margin: 50px 0 10px 0;	
}


/* styles for salon booker */
#booker05 {
	position:relative;
	height: 710px;
	background: #ffffff;
	margin: 75px auto 0 auto;
	padding: 0;
	width: 958px;
	

}

#booker05>div#text_booker {
	position:absolute;
	left:170px;
	top:95px;
	padding: 0;
	margin: 0;
}

#booker05 h2 {
	font-family: 'GillSans-Light', Arial, sans-serif;
	font-size: 48px;
	line-height: 54px;
}


#booker05 img {
	margin: 69px 0 0 569px;
}

/* styles for maps */
#map06 {
	width: 100%;
	background: #fee7d7;
}

/* styles for smooth operators - now called Your Team */
#smooth08 {
	position: relative;
	height: 660px;
	background: #ffffff;
	margin: 0 auto;
	padding: 0;
	width: 958px;
}

#smooth08 img {
	margin: 56px 0 0 21px;
}

#smooth08>div#text_smooth {
	position: absolute;
	left: 590px;
	top: 136px;
	width: 341px;
	text-align: left;
	padding: 0;
	/*margin: 46px 0 0 590px;*/
	
}

#smooth08 p {
	font-size: 18px;
	color: #666666;
	line-height: 29px;
	margin: 0;
}

#bios_waxxers {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 958px;
	display: none;
}

#bios_guest {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 958px;
	display: none;
}

#bios_leadership {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 958px;
	display: none;
}

#bios_support {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 958px;
}



.staff_bio_lockup {
	margin: 56px 0 0 0;
	border-bottom: 1px solid #dfdfdf; 
	/*border: 1px solid #000;*/
	height: 380px;
	padding: 0;	
}

.staff_bio_lockup img {
	position: relative;
	top: 10px;
	left: 78px;
	border: 1px solid #fee7d7;
}

.staff_bio_lockup>div#text {
	position: relative;
	left: 400px;
	top: -311px;
	width: 459px;
	text-align: left;
	padding: 0;
	margin: 0 0 80px 0;


}

.staff_bio_lockup p {
	font-size: 14px;
	color: #666666;
	line-height: 20px;
}

.staff_bio_lockup a {
	text-decoration: underline;
}


.staff_bio_lockup a:hover {
	text-decoration: none;
}


/* styles for quotes */
#quotes09 {
	background: url("../images/09_quotes.jpg") no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 658px;
	border: 1px solid #fff;
}

#quotes09 .text {
	width: 958px;
	text-align: center;
	padding: 0;
	margin: 280px auto 0 auto;
	font-size: 60px;
	font-family: 'GillSans-Light', Arial, sans-serif;
}

#quotes09 #author {
	width: 958px;
	text-align: center;
	padding: 0;
	margin: 10px auto 0 auto;
	font-size: 36px;
	font-family: 'GillSans-Light', Arial, sans-serif;
}

.quoteslove {
	display: none;
}

.quotoslogo {
	display: none;
}

/* styles for serum */
#serum10 {
	position:relative;
	height: 659px;
	background: #ffffff;
	margin: 0 auto;
	padding: 0;
	width: 958px;
	
}

#serum10 img {
	margin: 30px 0 0 5px;
}

#serum10>div#text {
	position:absolute;
	left:406px;
	top:88px;
	padding: 0;
	margin: 0;
}


#serum10 h2 {
	font-family: 'GillSans-Light', Arial, sans-serif;
	font-size: 67px;
	line-height: 60px;
	color: #666666;
	text-align: left;
	padding: 0;
	margin: 0 0 30px 0;
	
}
#serum10 p {
	width: 470px;
	font-size: 15px;
	text-align: justify;
	color: #666666;
	line-height: 25px;
	padding: 5px 0 0 0;
	margin: 0;
}

/* styles for treat */
#treat11 {
	margin: 0 auto;
	padding: 0; 
	width: 100%;
	height: 660px;
	border: 0;
	background: #77716e url('../images/treat_yourself_final.png') center center no-repeat;
}

#treat11 img {
	/*width: 100%;*/
	/*height: auto;*/
	width: 1262px;
	height: 660px;
	z-index:1;
}

.treat_animation {
	display: none;
}

#treat11 img.active{z-index:3}

/* styles for the footer */
footer {
	border-top: 8px solid #fee7d7;
	height:192px;
	width:100%;
	/*border: 4px solid #fff;*/
	position:relative; 
	background: url('../images/footer_background.jpg') center top no-repeat;
	background-size: cover;
}

#contrain_the_footer {
	width: 1260px;
	text-align: center;
	margin: 0 auto;
}


#footer_links {
	float: left;
	text-align:center;
	height: 184px;
	padding:0 40px;
	color:#fee7d7;
	font-size:14px;
	background-color: #131313;
	min-width:576px;

}

footer a {
	color:#959595;
	text-decoration: none;
}

#footer_links a {
	line-height:180px;
}

#footer_links a:hover {
	text-decoration:underline;
	color:#fee7d7;
}

#phone {
	float: left;
	width:297px;
	height: 184px;
	background: #1e1e1e;
}

#phone p {
	margin: 55px 0 0 0;
	text-align:center;
	font-size:14px;
	color:#959595;
	line-height: 20px;
	text-transform: uppercase;
}

#phone img:hover {
	opacity: .5;
}
#phone a:hover {
	text-decoration: underline;
	color: #fee7d7;
}

#footer_social a:hover {
	opacity: .5;
} 

#footer_social {
	float: left;
	padding: 50px 40px 0 40px;
	min-width:380px;
	height:184px;
	background: #272727;
}

#footer_social p {
	color:#959595;
	font-size:14px;	
	line-height: 20px;
	text-align:center;
}

#footer_social img {
	/*margin-right:10px;	*/
} 

.noopacity {
	opacity: 0;
}

/* styles for the back to top feature */
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility:hidden;
    text-align: center;
    z-index: 99999999;
    height: 60px;
    width: 65px;
    bottom: 50px;
    left: 95%;
    background: #ffffff url('../images/back_to_top.png') center top no-repeat;
}
.scroll-top-wrapper:hover {
    opacity: .5;
    cursor: pointer;
}
.scroll-top-wrapper.show {
    visibility:visible;
    opacity: 1;
}

/* tooltip custom class */
.custom_tooltop {
	margin: 10px;
	font-size: 13px;
	line-height: 18px;
	padding: 0;
	background: #fff;
}

.custom_tooltip p {
	
}

.staff_social_icons img {
	border: 0;
}


/* styles for transition */
.fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.fadein {
    opacity: 1;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}


