map
a:active,a:focus {
	outline: expression(hideFocus='false');
}

#wrapper {
	width: 100%;
	padding: 0;
	height: 424px;
	text-align: center;
	margin: 0 auto;
	border-top: 1px solid #dfdfdf;
	background: #fee7d7;	
}

#tabs_white_back {
	position: relative;
	top: -423px;
	width: 100%;
	height: 67px;
	background: #fff;
	z-index: 1;
}


#tabs {
	position: relative;
	width: 958px;
	height: 399px;
	padding: 0;
	margin: 2px auto 0 auto;
	z-index: 2;
}

#tabs ul {
	margin: 0 0 0 125px;
	padding: 0;
	height: 67px;

}

#tabs li {
	float: left;
	list-style: none;
}

#tabs li a {
	text-align: center;
	margin: 18px 25px;
	display: inline-block;
	padding: 0;
	line-height: 30px;
	text-decoration: none;
	color: #666666;
	font-size: 18px;
	font-family: 'GillSans', Arial, sans-serif;
    font-weight: normal;
	font-style: normal;
    -webkit-font-smoothing: antialiased;  
}

#tabs li a:hover {
	opacity: .5;
}

#tabs_container {
	position: relative;
	padding: 0;
	margin: 0;
}

#tabs_container p {
	text-align: justify;
	width: 558px;
	line-height: 25px;
	margin: 40px;
}


.transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.make_transist {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.hidescaleup {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	/*display: none;*/
}

.showscaleup {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	/*display: block;*/

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}


.tabulous_active {
	/*text-decoration: underline !important;*/
	border-bottom: 4px solid #dfdfdf;
}

.tabulousclear {
	display: block;
	clear: both;
}